body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-color: #000000;
  min-height: 75%;
}

.menu {
  display: none;
}

.navbar {
  background-color: #959595;
  color: #291ec2;
  border: 4px solid #053D0E;
  font-family: 'comic sans ms';
  font-style: oblique;
  font-weight: bold;
  font-size: 32px;
  font-variant: small-caps;
  text-align: center;
  text-decoration: blink;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: capitalize;
  position: relative;
  overflow: auto;
  border-radius: 48px;
  text-shadow: 0px 2px 0px #291ec2;
  box-shadow: 0px 0px 10px #291ec2;
  overflow-x:hidden;
}

.navbarNav {
  color:lightslategrey;
}
.no-bullets {
  list-style-type: none;
}
.loginBox {
  font-variant: none;
  font-size: 20px;
  text-transform: none;
  text-decoration: none;
  font-style: normal;
  
}
.loginBox a {
  color: lawngreen;
  text-align: center;
}
.loginBox a:hover {
  color: red;
}