html, body {
	height: 100%;
	background-color: Black;
	color: Lime;
}
html {
	display: table;
	margin: auto;
}
body {
	display: table-cell;
	vertical-align: middle;
}
h1,h2 {
	color: Lime;
}
a {
	color: Yellow;
}
input[type=text] {
	color: #EF119D;
}
div.error {
	color: #FF0000;
}
td.error {
	color: #FF0000;
}
th {
	color: #c934eb;
}
input[type=submit] {
	border-radius: 8px;
	border: 5px solid #8c8c8c;
	background-color: #bfbfbf;
}
input[type=submit]:hover {
	border-radius: 6px;
	border: 6px solid #8c8c8c;
	background-color: #cacaca;
}
